body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p,
label,
input {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
}
.container {
  width: 90%;
  margin: auto;
}
